{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}
{% block content %}
<h1>Главная страница </h1>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis enim eveniet facere molestias quod similique.
</li>
<li>Ad beatae delectus eos fugiat illum inventore ipsam labore tempore, ut? Aliquam autem consectetur nam.</li>
<li>Aspernatur commodi nisi placeat suscipit tenetur! Fuga quas saepe sequi. Distinctio fugiat non odio suscipit.</li>
<li>Assumenda consequatur corporis debitis eaque enim ipsam magni necessitatibus officiis quibusdam, repudiandae,
    similique, temporibus! Aspernatur!
</li>
<li>Architecto culpa cupiditate eligendi error maxime porro possimus soluta. Aut dignissimos excepturi in nisi
    praesentium!
</li>
<li>Dolorem hic labore natus odio quasi quis soluta ullam. Architecto autem dignissimos et laboriosam molestiae.</li>
<li>Consequatur earum, perspiciatis! Dicta dignissimos eligendi harum itaque labore modi nemo quisquam quos. Corporis,
    nulla.
</li>
<li>Aut cupiditate eligendi ipsum molestiae, nobis quidem repudiandae sapiente sequi sunt totam ut vel! Ratione.</li>
<li>At beatae, blanditiis dicta, ipsa laudantium nulla quo quod sunt tempora ullam voluptas voluptate. Iure.</li>
<li>Accusantium animi aperiam dolor eius molestias natus non quidem recusandae sunt temporibus! Cupiditate, sunt,
    veritatis!
</li>
<li>Aliquam amet eum ex hic perferendis? Autem blanditiis consectetur et excepturi maiores pariatur ratione
    recusandae.
</li>
<li>Beatae consequuntur cumque distinctio ducimus eaque error esse est incidunt, optio perspiciatis provident quam,
    vel.
</li>
<li>Accusantium debitis dicta dolor eius inventore ipsum iusto, minima neque possimus quo rerum ut, voluptatibus.</li>
<li>Ab adipisci aspernatur consectetur debitis enim fugiat magnam odit quibusdam quis quos repudiandae, ullam
    voluptas.
</li>
<li>Architecto aspernatur beatae cumque cupiditate dolores excepturi fugit id libero, molestias officia quae voluptates
    voluptatum!
</li>
<li>Aliquid autem consequuntur cupiditate deleniti earum eveniet ipsa, magnam modi nemo nostrum, quam sunt, vitae.</li>
<li>Accusamus consequuntur dignissimos exercitationem illum impedit incidunt iure iusto, maxime placeat provident quis,
    reprehenderit voluptas!
</li>
<li>Accusamus aut consequuntur dicta dolore dolores error facere incidunt modi, omnis porro, reprehenderit sunt?
    Asperiores.
</li>
<li>Error et, expedita! Accusamus aut facere itaque minus obcaecati praesentium quaerat quibusdam quis quisquam ut.</li>
<li>Consectetur facilis itaque labore magni nobis praesentium saepe, vero! A asperiores exercitationem odit sit
    tempore.
</li>
<li>Dolores eligendi et harum inventore itaque, iure molestiae omnis, perferendis, placeat porro repellat suscipit
    voluptatibus!
</li>
<li>Delectus dicta esse excepturi exercitationem in laborum mollitia, omnis perspiciatis quidem reprehenderit ut veniam
    voluptatem?
</li>
<li>Adipisci, nobis, quae. Hic itaque laudantium praesentium quis quo rerum sapiente sint, tempore ullam ut?</li>
<li>Ad aspernatur cupiditate eos facere, ipsum, itaque necessitatibus nostrum odit quos rem sed, velit veniam.</li>
<li>Delectus earum fugit hic, ipsum laborum perferendis quis repellendus, repudiandae sint temporibus ut veritatis
    voluptate?
</li>
<li>Autem cumque deserunt enim eum exercitationem explicabo nihil, numquam obcaecati odit officia rem, veniam
    voluptatibus?
</li>
<li>Aspernatur autem debitis deleniti enim eveniet id, nulla reiciendis? Accusantium dolore inventore minus neque
    quam.
</li>
<li>Cumque, cupiditate doloremque ea eos et fuga fugiat inventore molestiae nam omnis quos, tempore, tenetur.</li>
<li>Consectetur doloremque error expedita fugit illum iusto laudantium nostrum quo quod repellat suscipit tenetur,
    voluptate.
</li>
<li>Cum eos ex fuga id ipsa mollitia totam! Animi dolorum molestias mollitia porro sapiente vitae.</li>
<li>Ad animi commodi consequatur corporis cumque eligendi, est excepturi facilis numquam quod reiciendis, sapiente,
    vel?
</li>
<li>Accusamus animi distinctio, est ipsum laborum libero molestias nam, odit pariatur quae repellat soluta voluptatum.
</li>
<li>Aliquam assumenda quam saepe sequi similique sunt ut voluptates. Aliquid at delectus doloremque facilis nulla.</li>
<li>Aperiam consequuntur, ea eaque quam reiciendis repellendus rerum veritatis! Corporis eum illum nihil! Ad, quae.</li>
<li>Alias architecto atque eos eveniet, hic illo magni minima nemo nobis praesentium, quam, quis repudiandae?</li>
<li>Architecto, cum debitis error est fuga laudantium libero, nemo nesciunt quidem reiciendis, tempora temporibus
    voluptas.
</li>
<li>Ad, amet architecto, at dolores ipsam iure iusto, labore molestias neque quia sequi veniam voluptates!</li>
<li>Cupiditate doloribus excepturi molestias non perspiciatis quas quibusdam sint soluta temporibus voluptatum?
    Architecto, delectus, quidem!
</li>
<li>Aperiam at blanditiis doloribus ea molestias mollitia obcaecati, officia rerum sint soluta suscipit unde
    voluptatibus!
</li>
<li>Debitis distinctio, earum eius id quo tenetur? Architecto doloremque eligendi illum, nihil quae repellat vero?</li>
<li>Animi aut eaque iusto minus nihil. Dicta eius, nobis. Amet atque ipsam perspiciatis repellendus voluptatibus.</li>
<li>Accusantium commodi dolorem excepturi maiores, non officiis? Alias delectus ducimus modi nesciunt nisi quis
    reiciendis.
</li>
<li>Aut blanditiis cumque deserunt distinctio est, laborum magnam recusandae rem reprehenderit tempore ut voluptate
    voluptatibus.
</li>
<li>Enim et hic id iure maxime mollitia natus nulla odio porro qui sequi, sit veniam.</li>
<li>Aliquam aliquid eveniet fugit inventore ipsum nemo quia quis vitae voluptates. Amet mollitia officia voluptate?</li>
<li>Aliquam doloribus ea eveniet exercitationem iure magnam molestiae qui, quis quisquam sequi temporibus tenetur,
    totam.
</li>
<li>Amet aperiam architecto debitis, deleniti eius eligendi ex facere facilis numquam perferendis quas, quo voluptate?
</li>
<li>Aliquid dolore fuga labore necessitatibus neque, odit officia omnis pariatur quae, rem, tenetur totam veniam.</li>
<li>Adipisci corporis incidunt ipsa, iure laboriosam nulla quibusdam, quidem quod soluta temporibus ullam velit
    voluptates.
</li>
<li>Beatae culpa dolor, dolore, excepturi fuga fugit libero maxime molestiae non qui quidem soluta voluptatem.</li>
<li>Ad consectetur dolorum eius et eveniet laborum magni necessitatibus quasi, unde velit! Corporis, culpa, tenetur?
</li>
<li>A aliquam autem culpa, eius error, eveniet hic ipsum laborum maxime minima nisi quis vero.</li>
<li>Accusantium amet dicta dolor eius et molestiae perspiciatis praesentium vitae. Aliquid cupiditate iusto numquam
    voluptas.
</li>
<li>Ab aspernatur consequatur culpa, cupiditate dolores ex ipsam non nostrum pariatur saepe sit unde voluptates!</li>
<li>Asperiores dicta dolor dolores eius libero nobis nostrum quae, quod repellat temporibus? Ipsum, libero, quasi?</li>
<li>Ab adipisci aspernatur dolorem excepturi natus nesciunt possimus praesentium! Adipisci cupiditate esse maiores
    placeat voluptatem.
</li>
<li>Autem consequuntur cupiditate doloremque dolores error ex ipsum libero, nemo nostrum odit optio repellat
    repudiandae.
</li>
<li>Ad dolores libero pariatur tenetur! Beatae cupiditate dolorum eius, et in ipsa non nulla veniam.</li>
<li>Ab asperiores dicta distinctio dolorum enim, exercitationem minima mollitia neque quas, quisquam recusandae
    reprehenderit sunt.
</li>
<li>Animi asperiores, blanditiis, consequuntur debitis dolore facilis harum nobis nulla quia repellendus tempora tempore
    voluptates?
</li>
<li>A alias commodi consequuntur distinctio, excepturi illo maxime nesciunt, porro praesentium suscipit totam ut
    vitae.
</li>
<li>Architecto autem expedita fuga iusto unde ut voluptates. Eligendi quod sed tempora. Architecto, aut incidunt?</li>
<li>Animi doloremque ea ex fugit illo ipsa ipsam itaque maiores natus omnis, quas tempore temporibus.</li>
<li>Inventore quaerat quis tempore. Aliquid architecto eaque enim totam. Ad blanditiis cum cumque dolores sapiente!</li>
<li>Accusamus aspernatur blanditiis cumque itaque laudantium quaerat quasi quo? Assumenda laborum nostrum totam? Quis,
    vitae.
</li>
<li>Aliquid, autem consectetur distinctio eos maiores non provident quis. A doloremque ea esse ex impedit!</li>
<li>Debitis distinctio dolores, fugiat itaque iure placeat quae tempore ullam vero voluptas! Necessitatibus, non,
    recusandae!
</li>
<li>Aliquid dolorem eligendi eum, harum iure magni voluptates! Aperiam facilis illo, illum iusto obcaecati temporibus?
</li>
<li>Accusamus, accusantium corporis eos eum eveniet excepturi facere hic in maxime nam necessitatibus unde voluptatem?
</li>
<li>Accusantium consectetur consequuntur ducimus esse explicabo in molestias numquam officiis quaerat similique sint,
    voluptatem voluptatibus.
</li>
{% endblock %}